.Course {
  background: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10);
  border-radius: 8px 8px 8px 8px;
  overflow: hidden;
  height: 380px;
}

.Course__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  color: #FFFFFF;
  font-weight: bold;
  
}

.Course__header {
  padding: 0.5rem;
  height: 80px;
  background: #172b38;
  display: flex;
  justify-content: center;
}

.Course__section-name {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.Course__section-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  background: #ebf0f1;
}

.Course__ImgTitle{
  margin-left: 0.1rem;
  width: 70px;
  height: 70px;
}


.Course__logo {
  border-radius: 50%;
  margin-right: 1rem;
  margin-left: 2.3rem;
  width: 100px;
  height: 100px;
}

.Course__footer {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00bfa0;
  font-weight: bold;
  font-style: italic;
}

.list-more {
  padding: 5%;
  height: 80px;
  width: 450px;
  display: flex;
}

.list_logo {
  border-radius: 50%;
  margin-right: 1.5rem;
  margin-left: -0.6rem;
  margin-top: -0.9rem;
  width: 55px;
  height: 55px;
  background-color: #FFFFFF;
}
